[Unit]
Description=Dynamic DNS proxy for INWX
After=network.target

[Service]
ExecStart=/usr/bin/inwxdynserver /etc/inwxdynserver/config.toml
User=inwxdynserver

[Install]
WantedBy=multi-user.target
